.jumbotron {
	background-color: blue;
	color: white;
	margin-top: 50px
}

footer {
	padding: 10px 10px 0 10px;
	background-color: blue;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}


.card-rep {
	flex: 1 150px;
	
	margin-top: 10px;

}

.btn-compra {
	width: 100%;
	border-radius: 15px;
}


.footer-address-icon {
	padding-right: 15px;	
	
}.tab-content {
	padding-top: 10px;
}



.btn-compra {
	width: 100%;
	border-radius: 15px;
}