$blue: #4287ff;
@mixin margenes($top, $bottom){
margin-top: $top;
margin-bottom: $bottom;


}

.jumbotron {
	background-color: $blue;
	color: white;
	@include margenes (50px,10px);

}

footer {
	padding: 10px 10px 0 10px;
	background-color: $blue;
	color: white;
	@include margenes (10px,0px);
}


.card-rep {
	flex: 1 150px;
@include margenes (10px,0px);


}

.btn-compra {
	width: 100%;
	border-radius: 15px;
}


.footer-address-icon {
	padding-right: 15px;	
	
}.tab-content {
	padding-top: 10px;
}



.btn-compra {
	width: 100%;
	border-radius: 15px;
}